<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.proxool.pool_alias">ProxoolPool</property>
        <property name="hibernate.proxool.xml">proxool.xml</property>
        <property name="hibernate.connection.provider_class">org.hibernate.proxool.internal.ProxoolConnectionProvider
        </property>
        <property name="hibernate.proxool.existing_pool">true</property>

        <!--方言-->
        <property name="dialect">org.hibernate.dialect.MySQL57InnoDBDialect</property>

        <!--*如果使用的是本地事务（jdbc事务）-->
        <property name="hibernate.current_session_context_class">thread</property>


        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
        <!--&lt;!&ndash;<property name="hbm2ddl.auto">update</property>&ndash;&gt;-->

        <mapping resource="hbm/Barrages.hbm.xml"/>

        <mapping resource="hbm/Users.hbm.xml"/>

        <mapping resource="hbm/VideoFavlist.hbm.xml"/>

        <mapping resource="hbm/VideoLike.hbm.xml"/>

        <mapping resource="hbm/Videos.hbm.xml"/>


    </session-factory>
</hibernate-configuration>