/*#top_contain {*/
/*height: 50px;*/
/*background-color: #1B9AF7;*/
/*}*/

#logo_input {
    position: relative;
    width: 70%;
    height: 50px;
    text-align: center;
    margin: 5px auto;
}

#soso_logo {
    position: relative;
    float: left;
    height: 35px;
    line-height: 40px;
    color: #fd6853;
    font-size: 20px;
}


#search {
    position: relative;
    float: left;
    width: 60%;
    height: 50px;
    text-align: center;
}

#serarch_button {
    width: 200px;
    position: absolute;
    left: 754px;
    top: 2px;
}

#nav_sub {
    width: 90%;
    position: relative;
    margin: 5px auto;
    text-align: center;
}

.wrap {
    position: relative;
    width: 100%;
    height: 54px;
    text-align: center;
}

.sub_active {
    color: #1B9AF7;
    text-align: center;
    position: relative;
    float: left;
    width: 10%;
    height: 54px;
    line-height: 54px;
    font-size: 16px;
    list-style-type: none;
}

.sub {
    position: relative;
    float: left;
    width: 10%;
    height: 54px;
    line-height: 54px;
    font-size: 16px;
    text-align: center;
    list-style-type: none;
}

.so_wrap {
    /*width: 90%;*/
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 10px;
}

.so_info {
    position: relative;
    margin-top: 10px;
    padding-left: 40px;
}

.so_info_total {
    display: inline-block;
    visibility: visible;
    line-height: 16px;
    width: 200px;
    color: #9d9d9d;
}

.switch {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}

.aver {
    right: 26px;
}

.so_info > .switch > span {
    position: absolute;
    top: 0;
    cursor: pointer;
}

.switch.imgleft {
    right: 0;
}

.so_info > .switch > span {
    position: absolute;
    top: 0;
    cursor: pointer;
}

.vedio_matrix i {
    display: inline-block;
    margin-right: 3px;
    position: relative;
    top: 2px;
    width: 11px;
    height: 11px;
}

.watch_num {
    background-image: url('../img/icon3.png');
    background-position: -148px -476px;
}

.upload_time {
    background-image: url('../img/icon3.png');
    background-position: -189px -476px;
}

.uper {
    background-image: url('../img/icon3.png');
    background-position: -188px -392px;
}

.ajax_render {
    width: 100%;
    position: relative;
    width: 1100px;
    height: 920px;
    float: left;
}

.vedio_matrix {

    width: 170px;
    height: 210px;
    border: 1px solid #e5e9ef;
    border-radius: 4px;
    float: left;
    margin-top: 20px;
    margin-right: 32px;
}

/*a {*/
/*outline: 0;*/
/*color: #1B9AF7;*/
/*text-decoration: none;*/
/*cursor: pointer;*/
/*}*/

/*.vedio_matrix.img{*/
/*height: 100px;*/
/*!*border-bottom-left-radius: 0;*!*/
/*!*border-bottom-right-radius: 0;*!*/
/*}*/
.video_cover {
    /*width: 200px;*/
    height: 100px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.video_cover img {
    width: 100%;
    height: 100%;
}

.info {
    width: 100%;
    height: 48px;
    padding: 8px 10px 0 10px
}

.headline {
    height: 100%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 40px;
    overflow: hidden;
    line-height: 19px;
}

.tags {
    margin-left: 8px;
    font-size: 10px;

}

.tags span {
    display: inline-block;
    max-width: 132px;
    height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    float: left;
    margin-bottom: 12px;

}